
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-right fs-5 my-2">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Home</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto my-2">
        <form action="{% url 'home' %}" class="d-flex my-2" method="get">
          <input class="form-control me-2" type="search" name="search_dict" placeholder="Search Wordbook" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </ul>

      <ul class="navbar-nav mx-2 my-2">
        <div class="dropdown profile__user">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <div class="nav-link">
              <a class="nav-link profile__link" href="{% url 'edit_profile' username=user.username %}">
                 <i class="fa fa-user" aria-hidden="true">Profile</i>
              </a>
            </div>
          </li>
          <li>
            <div class="nav-link">
              <a class="nav-link profile__link" href="{% url 'logout_user' %}">
                 <i class="fa fa-sign-out" aria-hidden="true">Exit</i>
              </a>
            </div>
          </li>
        </ul>
      </div>
      </ul>

      <ul class="navbar-nav mx-right my-2">
       <div class="wrapper_btn">
        <a href="{% url 'add_dict' %}">
           <button type="button" class="btn btn-success">New Wordbook</button>
        </a>
       </div>
      </ul>
    </div>
  </div>
</nav>
